/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;

}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
  margin: 12px;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*Contenido*/
header{
  background: white;
  height: 90px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.menu{
  position: absolute;
  left: 110px;
  top: 20px;
  height: 68px;
  font-weight: bold;
  margin: 7px;

}
.menu img{
  position: absolute;
  left:1050px;
  width: 37px;
  height: 32px;
}
div {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

section {
  text-align: center;
}
.part1{
  background-size: 100% 100%;
  background-image: url(../assets/images/bg-home.jpg);
  color: white;
  height: 520px;
  margin: 90px 0 0 0;
}
h1{
  font-size: 37px ;
  font-weight: bold;
  padding: 5px ;
}
h2{
  padding-top: 60px;
}
p{
  font-size: 11px;
}
.part2{
  background-color: #f17c72;
  color: white;

}
.part2 h2{
  padding-top: 15px;
}
h4{
  font-size: 12px;
  font-weight: bold;
}
.opcion2 h5{
  font-size: 10px;
  padding: 2px;
}
.part3{
  width: 895px;
}
.imagenes{
  width: 880px;
}
.btn {
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: inherit;
    padding: 10px;
}
h5{
    font-size: 10px;
}
h6{
    line-height: 0;
    font-size: 8px;
    font-weight: normal;
}
.opcion1{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 35px;
}
.opcion1 img{
    width: 100px;
    height: 100px;
}
.opcion2{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 35px;
}
.opcion2 img{
    width: 100px;
    height: 100px;
}
.opcion3{
    width: 200px;
    padding-top: 20px;
    padding-bottom: 35px;
}
.opcion3 img{
    width: 100px;
    height: 100px;
}
.part3 img{
    width: 620px;
    height: 600px;
}
.bg-work{
    width:270px;
    margin-right:15px;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.bg-work img{
    width: 100%;
}
.bg-work p{
   font-weight: bold;
   font-size: 13px;
}
  /*Clase a Utilizar en pie de pagina*/
footer {
    background-color: #373b47;
    color: #ffffff;
    padding: 5px;
    text-align: center;
}
